<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="receipt">
            <h2><span>Receipt</span> {{receipt.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Store Id</span></dt>
                <dd>
                    <span>{{receipt.storeId}}</span>
                </dd>
                <dt><span>Purchase Date</span></dt>
                <dd>
                    <span>{{receipt.purchaseDate}}</span>
                </dd>
                <dt><span>Product Name</span></dt>
                <dd>
                    <span>{{receipt.productName}}</span>
                </dd>
                <dt><span>Product Price</span></dt>
                <dd>
                    <span>{{receipt.productPrice}}</span>
                </dd>
                <dt><span>Product Amount</span></dt>
                <dd>
                    <span>{{receipt.productAmount}}</span>
                </dd>
                <dt><span>Total Price</span></dt>
                <dd>
                    <span>{{receipt.totalPrice}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/receipt', receipt.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
