<div>
    <h2 id="page-heading">
        <span>Receipts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-receipt" [routerLink]="['/receipt/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Receipt
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="receipts?.length === 0">
        <span>No receipts found</span>
    </div>
    <div class="table-responsive" *ngIf="receipts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="storeId"><span>Store Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="purchaseDate"><span>Purchase Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productName"><span>Product Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productPrice"><span>Product Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productAmount"><span>Product Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="totalPrice"><span>Total Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let receipt of receipts ;trackBy: trackId">
                <td><a [routerLink]="['/receipt', receipt.id, 'view' ]">{{receipt.id}}</a></td>
                <td>{{receipt.storeId}}</td>
                <td>{{receipt.purchaseDate | date:'mediumDate'}}</td>
                <td>{{receipt.productName}}</td>
                <td>{{receipt.productPrice}}</td>
                <td>{{receipt.productAmount}}</td>
                <td>{{receipt.totalPrice}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/receipt', receipt.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/receipt', receipt.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'receipt', { outlets: { popup: receipt.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div [hidden]="receipts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
