<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-receipt-heading">Create or edit a Receipt</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_storeId">Store Id</label>
                    <input type="number" class="form-control" name="storeId" id="field_storeId"
                           formControlName="storeId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_purchaseDate">Purchase Date</label>
                    <div class="input-group">
                        <input id="field_purchaseDate" type="text" class="form-control" name="purchaseDate" ngbDatepicker  #purchaseDateDp="ngbDatepicker" formControlName="purchaseDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="purchaseDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="field_productName"
                           formControlName="productName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_productPrice">Product Price</label>
                    <input type="number" class="form-control" name="productPrice" id="field_productPrice"
                           formControlName="productPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_productAmount">Product Amount</label>
                    <input type="number" class="form-control" name="productAmount" id="field_productAmount"
                           formControlName="productAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalPrice">Total Price</label>
                    <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                           formControlName="totalPrice"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
